body{
    height: 50vh;
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 5000px;
}
.aboutPage{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 50vh;
    overflow-x: hidden;
    padding:0 90px;
    color: #084a6e;
    opacity: 1;
    z-index: 30;
    background-color:#4AB7F2;
    border-top: 3px solid #022538;
}
.aboutPage h1{
    font-size: 2rem;
    font-weight: 600;
    border-radius: 5px;
    padding:5px 10px;
    border: 1px solid #084a6e;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px){
    .aboutPage{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        height: 70vh;
        /* padding:50px 90px; */
        padding-top: 200px;
        padding-bottom: 50px;

    }
}