@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    height: 95vh;
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 5000px;
}
.aboutPage{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    padding:80px 90px;
    color: #084a6e;
    opacity: 1;
    z-index: 30;
    background-color:#4AB7F2;
    border-top: 3px solid #022538;
}
.aboutPage h1{
    font-size: 2rem;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding:5px 10px;
    border: 1px solid #052c42;
    margin-bottom: 10px;
}
.aboutPage p{
    font-size: 1.4rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}
.gradients-overlay{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, #032b44d4, rgba(0, 0, 0, 1.9));
    z-index: 0;
    /* pointer-events: none; */
  
   }
@media screen and (max-width: 768px){
    .aboutPage{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        height: 80vh;
        /* padding:50px 90px; */
        padding-top: 100px;
        padding-bottom: 50px;

    }
    .aboutPage p{
        font-size: 1.1rem;
    }
}