@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    height: 90vh;
    color: white;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding:30px 90px;
}
.service{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.services h1{
    font-size: 2rem;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding:5px 10px;
    border: 1px solid #4AB7F2;
    margin-bottom: 10px;
}
.gradientz-overlay{
    position: absolute;
    top: 155vh;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, #032b44d4, rgba(0, 0, 0, 1.9));
    z-index: -1;
    /* pointer-events: none; */
  
   }