.patt{
  transform: rotate(150deg) scale(0.7); 
  position: fixed;
  bottom: -300px;
  left: -400px;
  z-index: 1;
  opacity: 50%;

}
@media screen and (max-width: 760px) {
  .patt {
    /* position: scroll; */
    bottom: -50px;
    left: -300px;
    transform: rotate(120deg) scale(1.3);
  } 
}
 body{
  background-color: #032b44;
 }
 .bg-vid{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  background: #032b44;
 }
 .gradient-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #032b44d4, rgba(0, 0, 0, 1.9));
  z-index: 0;
  pointer-events: none;
 }